<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if app.user %}
            <a class="navbar-brand" href="{{ path('home') }}"><img
                        src="{{ asset('assets/img/logo_coran_revision.png') }}" alt="logo"></a>
        {% else %}
            <a class="navbar-brand" href="{{ path('app_login') }}"><img
                        src="{{ asset('assets/img/logo_coran_revision.png') }}" alt="logo"></a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}" title="Accueil"><i class="fas fa-house-user mr-2"></i>Accueil

                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profil', {'id': app.user.id}) }}" title="Mon profil"><i class="fas fa-user mr-2"></i>Profil

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('etat_list', {'id': app.user.id}) }}"
                           title="liste des révisions"><i class="fas fa-list mr-2"></i>Liste des révisions

                        </a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" title="logout"><i class="fas fa-sign-out-alt mr-2"></i>Déconnecter

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}" title="Contact"><i class="fa fa-envelope  mr-2"></i>Contact

                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}" title="Login"><i class="fas fa-sign-out-alt mr-2"></i>Se connecter

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}" title="création de compte"><i class="fas fa-plus-square mr-2"></i>Créer un compte</a>
                        </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
