{% extends 'base.html.twig' %}

{% block body %}
    <div >{%  include('include/nav.html.twig') %}</div>

    <div class="container">
        <h1 class="text-center mb-3 mt-3">Mon profil</h1>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <div class="d-flex justify-content-center mt-3">
                        <a href="{{ path('profil', {'id' : participant.id}) }}">
                <button type="submit" class="btn btn-success mr-3">Enregistrer</button>
            </a>
            <button type="reset" class="btn btn-success mr-3">Annuler</button>

        </div>
        {{ form_end(profilForm) }}
        <a href="{{ path('home') }}"><button class="btn btn-success mr-3">Retour à l accueil</button></a>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

