{% extends 'base.html.twig' %}

{% block title %}Editer profil{% endblock %}

{% block body %}
    <div >{%  include('include/nav.html.twig') %}</div>
    <h3 class="bg-success rounded text-black py-2 my-1 text-center">Editer le profil</h3>

    <div class="container">
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <div class="d-flex justify-content-center mt-3">
                        <a href="{{ path('profil', {'id' : participant.id}) }}">
                <button type="submit" class="btn btn-success mr-3">Enregistrer</button>
            </a>
            <button type="reset" class="btn btn-success mr-3">Annuler</button>

        </div>
        {{ form_end(profilForm) }}
        <a href="{{ path('home') }}"><button class="btn btn-success mr-3"><i class="fas fa-chevron-circle-left mr-2"></i>Retour à l accueil</button></a>
    </div>

{% endblock %}

