<footer class="pt-3 pb-3 py-md-11 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">

                <!-- Brand -->
                <img src="{{ asset('assets/img/logo_coran_revision.png') }}" alt="..."
                     class="footer-brand img-fluid mb-2">

                {# <h6 class="fw-bold text-uppercase text-gray-700">
                    Menu </h6> #}
                <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset"><i class="fas fa-house-user mr-2"></i>Accueil
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('contact') }}" class="text-reset"><i class="fa fa-envelope  mr-2"></i>Contact
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('app_login') }}" class="text-reset"><i class="fas fa-sign-out-alt mr-2"></i>Login</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('app_register') }}" class="text-reset"><i class="fas fa-plus-square mr-2"></i>
                            Créer un compte
                        </a>
                    </li>
                </ul>
            </div>
            <div class=" col-md-8 col-lg-9">

                <!-- Heading -->
                <h6 class="fw-bold text-center text-uppercase text-gray-700 mb-3">Pays des utilisateurs</h6>

                <div id="maCarte"></div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>

{# --------- javascript maps --------- #}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
    var carte = L.map('maCarte').setView([0, 0], 2);
    var markerClusters; // Servira à stocker les groupes de marqueurs
    //<---------- MAP detaillée ---------->
    /*L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        // Il est toujours bien de laisser le lien vers la source des données
        attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
        minZoom: 1,
        maxZoom: 20*/
    //<---------- MAP simple ---------->
    var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';
    var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: cartodbAttribution
    }).addTo(carte);
   /* window.onload = function () {
        // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
        initMap();
    };*/

    let xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = () => {
        // transac finie ?
        if (xmlhttp.readyState == 4) {
            if (xmlhttp.status == 200) {
                let donnees = JSON.parse(xmlhttp.responseText)
                var greenIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });
                for (var i = 0; i < donnees.length; i++) {
                    var marker = L.marker([donnees[i].latitude, donnees[i].longitude], {icon: greenIcon}).addTo(carte);
                    marker.bindPopup(donnees[i].nomPays)
                }
            } else {
                console.log(xmlhttp.statusText)
            }
        }
    }
    xmlhttp.open("GET", "http://localhost/revision_coran/public/donneeMap");
    xmlhttp.send(null);

</script>