<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Planning de révision{% endblock %}</title>

</head>
<body>

<style>
    @page {
        padding: 160px 0 80px 0;
        margin: 0;
        page-break-after: always;
    }

    body {
        background-image: url("http://localhost/revision_coran/public/assets/img/A4_cadre_quran.png");
        background-size: cover;
    }

    .container {
        width: 80%;
        margin-top: 55px;
        margin-bottom: 40px;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: 81px;

    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.6em;
        margin-block-end: 0.1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.1em;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }


    .text-center {
        text-align: center !important;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

    .table {
        width: 100%;
        margin-bottom: 0.1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #509039;
        border-color: #454d55;
    }

    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 2px;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: 0.39rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    th {
        text-align: inherit;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(144, 141, 141, 0.05);
    }
</style>
{% block body %}
    <div class="container">
        {#<h2 class="text-center">Planning de révision</h2>#}

        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="text-center"style="width: 6%" scope="col">Jour</th>
                <th class="text-center" style="width: 17%" scope="col">Date du jour</th>
                <th class="text-center" scope="col">Page de debut</th>
                <th class="text-center"style="width: 10%" scope="col">Jusqu'à</th>
                <th class="text-center" scope="col">Page de fin</th>
            </tr>
            </thead>
            {% for j in boucle.JoursBoucle %}
                <tbody class="table-striped">
                <tr >
                    <td class="text-center">N°{{ j.jours }}</td>
                    <td class="text-center">{{ j.Date|format_datetime(locale='fr',pattern="EEE dd MMM") }}</td>
                    {% if  j.PageDebut == "memorisation" %}
                        <td class="text-center">Jour de {{ j.PageDebut }}</td>
                    {% else %}
                        <td class="text-center">p {{ j.PageDebut }} ( {{ j.sourateDebutBoucleJournaliere }} )</td>
                    {% endif %}
                    {% if  j.PageDebut == "memorisation" %}
                        <td class="text-center"></td>
                    {% else %}
                        <td class="text-center">jusqu'à</td>
                    {% endif %}
                    {% if  j.PageDebut == "memorisation" %}
                        <td class="text-center">Jour de {{ j.PageFin }}</td>
                    {% else %}
                        <td class="text-center">p {{ j.PageFin }} ( {{ j.sourateFinBoucleJournaliere }} )</td>
                    {% endif %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</body>


</html>




